::: html
<style>
    .amazing-delimiter {
      width: 100%;
      border-radius: 10px;
      background-image: url(/users/kulalina/a767c4139975/.files/1.png);
      background-size: cover;
      background-position: 100%;
      background-repeat: no-repeat;
      padding: 150px;
      font-family: var(--yfm-html-font-family);
      font-weight: normal;
      font-size: 75px;
      color: #ffffff;
      text-align: center;
    }
</style>
<div class="amazing-delimiter">Команда Рекламы в Картах<div>
:::

{% layout gap=l %}

{% block %}

::: html
<style>
    .amazing-delimiter {
      width: 100%;
      border-radius: 10px;
      background-image: url(/users/kulalina/a767c4139975/.files/razdel.png);
      background-size: cover;
      background-position: 100%;
      background-repeat: no-repeat;
      padding: 10px;
      font-family: var(--yfm-html-font-family);
      font-weight: normal;
      font-size: 25px;
      color: #ffffff;
      text-align: center;
    }
</style>
<div class="amazing-delimiter">Наши цели<div>
:::

![](/users/kulalina/a767c4139975/.files/2025-03-2914-41-11.png =1104x)

{% endblock %}

{% block col=4 %}

::: html
<style>
    .amazing-delimiter {
      width: 100%;
      border-radius: 10px;
      background-image: url(/users/kulalina/a767c4139975/.files/razdel.png);
      background-size: cover;
      background-position: 100%;
      background-repeat: no-repeat;
      padding: 10px;
      font-family: var(--yfm-html-font-family);
      font-weight: normal;
      font-size: 25px;
      color: #ffffff;
      text-align: center;
    }
</style>
<div class="amazing-delimiter">Ссылки<div>
:::

&nbsp;

![profile (3).png](/users/kulalina/a767c4139975/.files/profile3.png =x25)    [**{blue}(Мы на Стаффе)**](https://staff.yandex-team.ru/departments/yandex_biz_com_divagen_1171_dep14114_dep54336)

![heart.png](/users/kulalina/a767c4139975/.files/heart.png =x25)    [**{blue}(Наши вакансии: порекомендуй коллегу)**](https://space.yandex-team.ru/vacancies/?department=45968&from=femida_publication)

![лиса.png](/users/kulalina/a767c4139975/.files/lisa.png =x25)    [**{blue}(Для нового сотрудника: онбординг в команду 🔜)**](https://staff.yandex-team.ru/departments/yandex_biz_com_divagen_1171_dep14114_dep54336)

![telegram.png](/users/kulalina/a767c4139975/.files/telegram.png =x25)    [**{blue}(Канал ТГ: Новости Рекламы в Картах)**](https://t.me/+s7kqzh-SDBk5NDky)

![cursor.png](/users/kulalina/a767c4139975/.files/cursor.png =x25)    [**{blue}(Портфель наших проектов 🔜)**](https://staff.yandex-team.ru/departments/yandex_biz_com_divagen_1171_dep14114_dep54336)

{% endblock %}

{% endlayout %}

{% layout gap=l %}

{% block col=5 %}

::: html
<style>
    .amazing-delimiter {
      width: 100%;
      border-radius: 10px;
      background-image: url(/users/kulalina/a767c4139975/.files/razdel.png);
      background-size: 100%;
      background-position: 100%;
      background-repeat: no-repeat;
      padding: 10px;
      font-family: var(--yfm-html-font-family);
      font-weight: normal;
      font-size: 25px;
      color: #ffffff;
      text-align: 55px;
    }
</style>
<div class="amazing-delimiter">Календарь команды<div>
:::

/iframe/(src="https://calendar.yandex-team.ru/embed/month?private_token=d326c60e73ecfc848ef1418ab254ac05546916d4&tz_id=Europe/Moscow&limit=90" width="100%" height="600px" frameborder="0")
{% endblock %}

{% block %}

::: html
<style>
    .amazing-delimiter {
      width: 100%;
      border-radius: 10px;
      background-image: url(/users/kulalina/a767c4139975/.files/razdel.png);
      background-size: cover;
      background-position: 100%;
      background-repeat: no-repeat;
      padding: 10px;
      font-family: var(--yfm-html-font-family);
      font-weight: normal;
      font-size: 25px;
      color: #ffffff;
      text-align: center;
    }
</style>
<div class="amazing-delimiter">Развитие команды<div>
:::

{% list tabs %}

- КОМАНДНОЕ РАЗВИТИЕ

  {% layout gap=l %}
  
  {% block %}
  
  ::: html
  <style>
.amazing-delimiter {
width: 100%;
border-radius: 10px;
background-image: url(/users/kulalina/a767c4139975/.files/image.png);
background-size: cover;
background-position: 100%;
background-repeat: no-repeat;
padding: 10px;
font-family: var(--yfm-html-font-family);
font-weight: normal;
font-size: 18px;
color: #ffffff;
text-align: left;
}
</style>
<div class="amazing-delimiter">Усиливать команду и постоянно повышать её экспертизу - одна из наших ключевых целей в 2025 году<div>
  :::

  ::: html
    <style>
.amazing-delimiter {
  width: 100%;
  column-count: 3
  border-radius: 10px;
  background-image: url(/users/kulalina/a767c4139975/.files/11111.png);
  background-size: cover;
  background-position: 100%;
  background-repeat: no-repeat;
  padding: 10px;
  font-family: var(--yfm-html-font-family);
  font-weight: normal;
  font-size: 18px;
  color: #00000;
  text-align: left;
}
</style>
<div class="amazing-delimiter">Усиливать команду и постоянно повышать её экспертизу - одна из наших ключевых целей в 2025 году<div>
  :::


  **Два раза в квартал** мы всей командой посещаем **мастер-классы, воркшопы или тренинги**, которые помогают нам наращивать экспертизу в важных компетенциях. Подпишись на Календарь нашей команды, чтобы следить за предстоящими обучениями (слева под календарём кнопка "добавить в свой календарь")


  **Два раза в квартал** мы устраиваем командные **брейнштормы** (их тоже найдёшь в командном календаре). На них мы разбираем зоны роста и генерим идем. Идею для разбора на следующей брейншторме - можно предложить  через командную формочку.


  **Раз в квартал** мы проводим "уютное" **ДЕМО** нашей команды, где погружаемся в детали стратегии Рекламы в Картах и реализуемые нами проекты

  {% endblock %}

  {% endlayout %}

  &nbsp;


- ПЕРСОНАЛЬНОЕ РАЗВИТИЕ

  {% layout gap=l %}
  
  {% block %}
  
  ![1.png](/users/kulalina/a767c4139975/.files/1-3.png =30x30) **{blue}(Цели)**

  Вместе с руководителем определите план и цели твоего развития 🎯

  ![2.png](/users/kulalina/a767c4139975/.files/2.png =30x30) **{blue}(Компетенции)**

  Скачай тут 🔜 **матрицу компетенций** и адекватно оцени свои скиллы (в твоих интересах развиваться, старайся оцениваться себя честно и объективно.

  ![3.png](/users/kulalina/a767c4139975/.files/3.png =30x30)**{blue}(Взгляд со стороны)**

  Попроси своего руководителя оценить тебя по тем же компетенциям. На встрече 1х1 обсудите те зоны, где ваши мнения расходятся, и выберите скиллы, которые нужно прокачать в первую очередь, определите что будет считаться успехом.

  ![4.png](/users/kulalina/a767c4139975/.files/4-2.png =30x30)  **{blue}(Инструменты)**

  Задача руководителя - предложить варианты развития нужных компетенций, дать инструменты и задания.

  ![5.png](/users/kulalina/a767c4139975/.files/5-1.png =30x30)  **{blue}(Отслеживание)**

  Раз в месяц на встрече 1х1 следите за прогрессом и ростом компетенций.

  ![6.png](/users/kulalina/a767c4139975/.files/6-1.png =30x30) **{blue}(Непрерывность)**

  Непрерывный процесс: после достижения нужного уровня выбранных компетенций - нужно снова откалиброваться по целям и выбрать другие компетенции.

  {% endblock %}

  {% endlayout %}

{% endlist %}

{% endblock %}

{% endlayout %}

::: html
<style>
    .amazing-delimiter {
      width: 100%;
      border-radius: 10px;
      background-image: url(/users/kulalina/a767c4139975/.files/razdel.png);
      background-size: cover;
      background-position: 100%;
      background-repeat: no-repeat;
      padding: 10px;
      font-family: var(--yfm-html-font-family);
      font-weight: normal;
      font-size: 25px;
      color: #ffffff;
      text-align: center;
    }
</style>
<div class="amazing-delimiter">Внутренние конкурсы<div>
:::

::: html
<style type="text/css">
	.title {
		font-family: YS Text;
		font-size: 24px;
		font-weight: 700;
		line-height: 29px;
		text-align: left;
		margin-bottom: 30px;
	}
	table {
		width: 100%;
		height: 1px;
		border-collapse: separate;
		border-spacing: 0;
	}
	.green table, .grey table {
		height: 100%;
	}
	.green {
		width: 23.5%;
		background-color: #00B377;
		background-repeat: no-repeat;
		background-size: 27px auto;
		background-position: 97% 87%;
		border-radius: 16px;
		padding-bottom: 12px;
	}
	.grey {
		width: 23.5%;
		background-color: #F4F5F6;
		background-repeat: no-repeat;
		background-size: 27px auto;
		background-position: 97% 87%;
		border-radius: 16px;
		padding-bottom: 12px;
	}
	.green-title {
		color: #FFF;
		font-size: 18px;
		font-family: YS Text;
		font-weight: 700;
		line-height: 120%;
		padding: 12px 12px 36px 12px;
	}
	.grey-title {
		color: #363E45;
		font-size: 18px;
		font-family: YS Text;
		font-weight: 700;
		line-height: 120%;
		padding: 12px 12px 36px 12px;
	}
	.green-text {
		color: #FFF;
		font-size: 14px;
		font-family: YS Text;
		width: 74%;
		margin: 0 0 0 12px;
	}
	.grey-text {
		color: rgba(54, 62, 69, 0.64);
		font-size: 14px;
		font-family: YS Text;
		width: 78%;
		margin: 0 0 0 12px;
	}
	.logo-ya {
		margin: 30px 0;
	}
</style>



<style>
  .c-text {
    color: #363e45;
  }
    .mt24 {
    margin-top: 24px !important;
  }
    .h100p {
    height: 100% !important;
  }
    .mt32 {
    margin-top: 32px !important;
  }
    .mt16 {
    margin-top: 16px !important;
  }

  .h40 {
    height: 40px !important;
  }
  .w24px {
    width: 24px;
    max-width: 24px;
    min-width: 24px;
  }
    .bg-gray {
    background-color: #f4f5f6;
  }
    .c-text-64 {
    color: rgba(54, 62, 69, 0.64);
  }
    .w25 {
    width: 25%;
  }
    .pad16 {
    padding: 16px;
  }
    .radius16 {
    border-radius: 16px;
  }
    .inherit {
    color: inherit !important;
  }
    .underline-none {
    text-decoration: none !important;
  }
    .d-block {
    display: block !important;
  }
    .va-top {
    vertical-align: top;
  }
    .va-bottom {
    vertical-align: bottom;
  }
    .fleft {
    float: left;
  }
    .p2 {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
  }
    .fright {
    float: right;
  }
    .h4 {
    font-size: 20px;
    line-height: 120%;
    font-weight: 700;
  }
  .w100 {
width: 100%;
}
  .h2 {
    font-size: 32px;
    line-height: 120%;
    font-weight: 700;
  }
</style>

  <h2 class="c-text cpb inherit mt24 h2">Для внутренней команды</h2>
  <table cellspacing="0" cellpadding="0" class="h100p mt32">
    <tr>
      <td class="w25 pad16 radius16 bg-gray h100p">
        <a target="_blank" href="https://t.me/YandexHelpDeskbot" class="inherit underline-none d-block h100p">
          <table class="h100p w100">
            <tr>
              <td colspan="h100p">
                <table class="h100p">
                  <tr class="va-top">
                    <td >
                      <h4 class="c-text h4">Чат в тг</h4>
                    </td>
                  </tr>
                  <tr>
                    <td class="va-bottom">
                      <p class="fleft p2 mt16 c-text-64">@YandexHelpDeskbot</p>
                    </td>
                  </tr>
                </table>
              </td>
              <td class="va-bottom">
                <img class="h40 fright"
                     src="https://jing.yandex-team.ru/files/irina-tsekh/tg-icon.png"
                     alt="">
              </td>
            </tr>
          </table>
        </a>
      </td>
      <td class="w24px"></td>
      <td class="w25 pad16 radius16 bg-gray h100p">
        <a target="_blank" href="mailto:helpy@yandex-team.ru" class="inherit underline-none d-block h100p">
          <table class="h100p w100">
            <tr >
              <td colspan="h100p">
                <table class="h80 h100p">
                  <tr class="va-top">
                    <td >
                      <h4 class="c-text h4">Почта</h4>
                    </td>
                  </tr>
                  <tr>
                    <td class="va-bottom">
                      <p class="c-text-64 p2 mt16">helpy@yandex-team.ru</p>
                    </td>
                  </tr>
                </table>
              </td>
              <td class="va-bottom">
                <img class="h40 fright"
                     src="https://jing.yandex-team.ru/files/irina-tsekh/mail-icon.png"
                     alt="">
              </td>
            </tr>
          </table>
        </a>
      </td>
      <td class="w24px"></td>
      <td class="w25 pad16 radius16 bg-gray h100p">
        <a target="_blank" href="tel:88002509639" class="inherit underline-none d-block h100p">
          <table class="h100p w100">
            <tr >
              <td colspan="h100p">
                <table class="h80 h100p">
                  <tr class="va-top">
                    <td >
                      <h4 class="c-text h4">Телефон</h4>
                    </td>
                  </tr>
                  <tr>
                    <td class="va-bottom">
                      <p class="c-text-64 p2 mt16">8 (800) 250-96-39, доб. 444</p>
                    </td>
                  </tr>
                </table>
              </td>
              <td class="va-bottom">
                <img class="h40 fright"
                     src="https://jing.yandex-team.ru/files/irina-tsekh/phone-icon.png"
                     alt="">
              </td>
            </tr>
          </table>
        </a>
      </td>
      <td class="w24px"></td>
      <td class="w25 pad16 radius16 bg-gray h100p">
        <a target="_blank" href="https://helpy.yandex-team.ru/" class="inherit underline-none d-block h100p">
          <table class="h100p w100">
            <tr >
              <td colspan="h100p">
                <table class="h80 h100p">
                  <tr class="va-top">
                    <td >
                      <h4 class="c-text h4">Портал</h4>
                    </td>
                  </tr>
                  <tr>
                    <td class="va-bottom">
                      <p class="c-text-64 p2 mt16">helpy.yandex-team.ru</p>
                    </td>
                  </tr>
                </table>
              </td>
              <td class="va-bottom">
                <img class="h40 fright"
                     src="https://jing.yandex-team.ru/files/irina-tsekh/portal-icon.png"
                     alt="">
              </td>
            </tr>
          </table>
        </a>
      </td>
    </tr>
  </table>

</div>
:::

{% wgrid id="a66c000a-beb4-4d9b-a4f5-2044afedc462" %}

![image.png](/users/kulalina/a767c4139975/.files/image-5.png =144x35)

ачивки
https://wiki.yandex-team.ru/verticals/hrvertis/obuchenie-i-razvitie-dlja-sotrudnikov-vertikalejj/poleznye-materialy/?from=%2Fverticals%2Fhr%2Fmarafon-razvitija-v-vertikaljax%2Fpoleznye-materialy

&nbsp;
